.add_task_container {
  margin: 2rem var(--container-margin) 1rem var(--container-margin);

  >p {
    font-size: 0.7rem;
    position: relative;
  }

}

.task_input_form {
  display: flex;
  gap: 0.25rem;
  margin-top: 0.25rem;

  >input {
    width: 100%;
    border: none;
    border-radius: 3px;
    padding: 0.5rem;
    outline: none;
  }

  >button {
    font-size: 1.9rem;
    width: 46px;
    border-radius: 0.25rem;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.add_task_btn {
  background-color: var(--add-task-btn-color);
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem;
  color: white;
  cursor: pointer;

  &:hover {
    background-color: var(--add-task-btn-hover-color);
  }
}

.hint {
  position: absolute;
  top: -5px;
  font-size: .7rem;
}