.checkbox_container {
  display: flex;
  align-items: center;
  margin-left: 0.3rem;

  /* Remove default checkbox (invisible and does not take up space) */
  & input[type='checkbox'] {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }

  /* Customize the label */
  & label {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;

    /* Create a custom checkbox */
    &::before {
      content: '';
      border: 1px solid var(--checked-btn-color);
      display: inline-block;
      width: 0.9rem;
      height: 0.9rem;
      border-radius: .2rem;
    }

  }

}

/* Display Check Mark when label is hovered or input is checked */
.checkbox_container label:hover:not(input[type='checkbox']:checked+label):before,
.checkbox_container input[type='checkbox']:checked+label::before {
  background-color: var(--checked-btn-color);
  content: '\002714';
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox_container label:hover:not(input[type='checkbox']:checked+label) {
  /* Make the color of the check mark and the task title lighter when label is hovered but input is not checked */
  &::before,
  & span {
    opacity: 0.7;
  }
  /* Add a strike through effect to the task title when label is hovered */
  & span {
    text-decoration: line-through;
  }
}

/* Add a strike through effect to the task title when input is checked */
.checkbox_container input[type='checkbox']:checked+label span {
  text-decoration: line-through;
}