.task {
  display: flex;
  background-color: #fff;
  border-radius: 0.2rem;
  padding: 0.55rem;
  align-items: center;
  margin: 0 calc(var(--container-margin) - var(--scrollbar-width)) 0.5rem var(--container-margin);
  border-left: 3.5px solid var(--checked-btn-color);
  font-size: 0.9rem;
}

.delete_btn {
  display: flex;
  justify-content: center;
  margin-left: auto;
  border: none;
  background-color: transparent;
  cursor: pointer;
  opacity: 0.6;

  &:hover {
    opacity: 1;
  }
}

.delete_icon{
  stroke-width: 2px;
}