body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --background-primary-color: #ddf0ff;
  --background-secondary-color: #e4e5fc;
  --border-separate-color: #cfd1cf;
  --progress-bar-color: #97b2fd;
  --text-color: #7a89b2;
  --secondary-text-color: #bbc2d1;
  --checked-btn-color: #8D9CCF;
  --add-task-btn-color: #829CE3;
  --container-margin: 1.5rem;
  --scrollbar-width: 6px;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  color: var(--text-color);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


#root {
  width: 390px;
  height: 500px;
  border-radius: 1px;
  background-image: linear-gradient(var(--background-primary-color), var(--background-secondary-color));
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  position: relative;
}







